<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address_id %><br>
    <%= f.number_field :address_id %>
  </div>
  
  <div>
  	<%= f.collection_check_boxes(:user_ids, User.all, :id, :first_name) %>
  </div>
  
  <!--
  <p><%#= f.text_field(:title) %></p>
	<p><%#= f.collection_check_boxes(:author_ids, Author.all, :id, :name) %></p>
	<p><%#= f.submit %></p>
  -->
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
