<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.collection_check_boxes(:store_ids, Store.all, :id, :name) %>
  </div>
  
  
  <div class="field">
    <%= f.label :address_id %><br>
    <%#= f.number_field :address_id %>
    
    <!--This handy little snippet of code allows me to create a dropdown of current users!  Cool! #MDM-->
    <!--http://stackoverflow.com/questions/14113057/how-to-have-a-drop-down-select-field-in-a-rails-form-->
    <%=  f.collection_select :address_id, Address.order(:name),:id,:name, include_blank: true %>

  
  </div>
  <div class="field">
    <%= f.label :store_id %><br>
    <%#= f.number_field :store_id %>
    
    <!--This handy little snippet of code allows me to create a dropdown of current users!  Cool! #MDM-->
    <!--http://stackoverflow.com/questions/14113057/how-to-have-a-drop-down-select-field-in-a-rails-form-->
    <%=  f.collection_select :store_id, Store.order(:name),:id,:name, include_blank: true %>

  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
