<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Address:</strong>

  <% @user.addresses.each do |address| %>
    <%= address.name %>, <%= address.city %>
  <% end %>
  (<%= @user.address_id %>)

</p>

<p>
  <strong>Store:</strong>
  <%= @user.store_id %>
  <%= render @user.stores %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
