<%= form_for(@product, :html => { :multipart => true } ) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  
  <!--
  <div class="field">
    <%= f.label :image_id %><br>
    <%= f.number_field :image_id %>
  </div>
  -->
  
  <div class="field">
    <%= f.label :store_id %><br>
    <%#= f.number_field :store_id %>
    
    <!--This handy little snippet of code allows me to create a dropdown of current users!  Cool! #MDM-->
    <!--http://stackoverflow.com/questions/14113057/how-to-have-a-drop-down-select-field-in-a-rails-form-->
    <%=  f.collection_select :store_id, Store.order(:name),:id,:name, include_blank: true %>

    
  </div>
  
  <div class = "field">
    <%= f.label(:image) %>
    <%= f.file_field :image %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
