<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <!--Flash messages used in Devise #MDM-->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
    <div class="header">
      <div class="pure-menu pure-menu-horizontal">
          <a class="pure-menu-heading" href="">Two-sided Marketplace</a>

          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href=<%= addresses_path %> class="pure-menu-link">Addresses</a></li>
              <li class="pure-menu-item"><a href=<%= orders_path %> class="pure-menu-link">Orders</a></li>
              <li class="pure-menu-item"><a href=<%= products_path %> class="pure-menu-link">Products</a></li>
              <li class="pure-menu-item"><a href=<%= stores_path %> class="pure-menu-link">Stores</a></li>
              <li class="pure-menu-item"><a href=<%= users_path %> class="pure-menu-link">Users</a></li>
              
                <% if signed_in? %>
                  Welcome <%= current_user.email %>
                  <%#= link_to("SIGN OUT",      destroy_user_session_path, method: :delete) %>
                   <li class="pure-menu-item"><%= link_to("SIGN OUT", destroy_user_session_path, method: :delete, class: "pure-menu-link") %></li>

                <% else %>
                  <%#= link_to("SIGN IN",        new_user_session_path) %>
                  <li class="pure-menu-item"><%= link_to("SIGN IN", new_user_session_path, class: "pure-menu-link") %></li>
                  <%#= link_to("SIGN UP",        new_user_registration_path) %>
                  <li class="pure-menu-item"><%= link_to("SIGN UP", new_user_registration_path, class: "pure-menu-link") %></li>
                <% end %>
                

          </ul>
      </div>
      
  </div>
  


  <%= yield %>

    <div class="footer">
        (c) 2016 MM Consulting
    </div>
</body>
</html>
